*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    margin: 0 auto;
}

/* HEADER */
header{
    background-color:#4ea0ff;
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    height: 70px;
}

.logo{
    height:auto;
    width: 30%;
}

/* MAIN TITLE*/
.title{
    margin-top: 20px;
}

.grey{
    color: grey;
}

#grey{
    color: grey;
    font-size: small;
}

#light-blue{
    color: #4ea0ff;
    font-size: small;
}

#grey-date{
    color: grey;
    font-size: smaller;
}